<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Job Form</title>
</head>
<body>
<h1>Course Form</h1>
<form action="#" th:action="@{/process}" th:object="${job}" method="post">
    <input type="hidden" th:field="*{id}" />
    Title :<input type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title'}"
          th:errors="*{title}"></span><br />
    Description :<input type="text" th:field="*{description}" />
    <span th:if="${#fields.hasErrors('description'}"
          th:errors="*{description}"></span><br />
    Posted Date :<input type="date" th:field="*{postedDate}" />
    <span th:if="${#fields.hasErrors('postedDate'}"
          th:errors="*{postedDate}"></span><br />
    Author :<input type="text" th:field="*{author}" />
    <span th:if="${#fields.hasErrors('author'}"
          th:errors="*{author}"></span><br />
    Phone :<input type="text" th:field="*{phone}" />
    <span th:if="${#fields.hasErrors('phone'}"
          th:errors="*{phone}"></span><br />
    <br />
    <input type="submit" value="Submit Posting" />
</form>
</body>
</html>