<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show Jobs</title>
</head>
<body>
<a th:href="/">Show All Jobs</a><br />
    Title :<span th:text="${job.title}" ></span><br />
    Description :<span th:text="${job.description}" ></span><br />
    Post Date :<span th:date="${job.postDate}" ></span><br />
    Author :<span th:text="${job.author}" ></span><br />
    Phone :<span th:text="${job.phone}" ></span><br />
</body>
</html>